if SHIELD_SPLIT_LEFT

config ZMK_KEYBOARD_NAME
    default "Split"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SPLIT_LEFT || SHIELD_SPLIT_RIGHT

config ZMK_SPLIT
    default y

CONFIG_ZMK_SPLIT_BLE
    default y

CONFIG_ZMK_SPLIT_WIRED
    default n

CONFIG_ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS=1

CONFIG_ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_PROXY
    default y


endif