/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    macros {
        AutoCAD_Line: AutoCAD {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp ESC &kp L &kp RET>;

            label = "AUTOCAD";
        };

        AutoCAD_Circle: AutoCAD_Circle {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp ESC &kp C &kp RET>, <&macro_tap>;

            label = "AUTOCAD_CIRCLE";
        };

        ScreenCapture: ScreenCapture {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LS(LG(S)) &kt ESC>, <&macro_press>;

            label = "SCREENCAPTURE";
        };

        AutoCAD_Rectang: AutoCAD_Rectang {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp ESC &kp R &kp E &kp C &kp RET>, <&macro_tap>;

            label = "AUTOCAD_RECTANG";
        };

        To_AutoCAD: To_AutoCAD {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 1>;
            label = "TO_AUTOCAD";
        };

        To_Onshape: To_Onshape {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 2>;
            label = "TO_ONSHAPE";
        };

        To_default_layer: To_default_layer {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 0>;
            label = "TO_DEFAULT_LAYER";
        };

        To_num_layer: To_num_layer {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 3>;
            label = "TO_NUM_LAYER";
        };

        AutpCAD_DIM: AutpCAD_DIM {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp ESC &kp D &kp I &kp M &kp RET>, <&macro_tap>;

            label = "AUTPCAD_DIM";
        };

        AutoCAD_TRIM: AutoCAD_TRIM {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp ESC &kp T &kp R &kp RET>, <&macro_tap>;

            label = "AUTOCAD_TRIM";
        };

        To_AutoCAD_num: To_AutoCAD_num {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RET &To_AutoCAD>;
            label = "TO_AUTOCAD_NUM";
        };

        To_default_layer_num: To_default_layer_num {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp ENTER &To_default_layer>;
            label = "TO_DEFAULT_LAYER_NUM";
        };
    };

    combos {
        compatible = "zmk,combos";

        AutoCAD {
            bindings = <&To_AutoCAD>;
            key-positions = <3 4>;
            layers = <0>;
        };

        Onshape {
            bindings = <&To_Onshape>;
            key-positions = <3 8>;
            layers = <0>;
        };

        Backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <3 7>;
            layers = <3>;
        };

        Bluetooth_Setting {
            bindings = <&to 4>;
            key-positions = <3 9>;
            layers = <0>;
        };

        Keyboard_Reset_Behavior {
            bindings = <&bootloader>;
            key-positions = <7 3>;
            layers = <4>;
        };

        BT_Clear_profile {
            bindings = <&bt BT_CLR>;
            key-positions = <3 10>;
            layers = <4>;
        };
    };

    behaviors {
        new_behavior: new_behavior {
            compatible = "zmk,behavior-key-toggle";
            label = "NEW_BEHAVIOR";
            #binding-cells = <1>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp LS(LG(S))  &kp C_VOL_UP  &kp C_NEXT  &To_AutoCAD
&kp LG(X)      &kp C_VOL_DN  &kp C_PP    &kp LG(D)
&kp F11        &kp C_MUTE    &kp C_PREV  &kp LG(A)
            >;
        };

        AutoCAD {
            bindings = <
&AutpCAD_DIM   &AutoCAD_Rectang  &none              &To_num_layer
&AutoCAD_TRIM  &AutoCAD_Circle   &none              &none
&kp ESC        &AutoCAD_Line     &ext_power EP_TOG  &To_default_layer
            >;
        };

        Onshape {
            bindings = <
&kp LS(S)  &kp G  &kp V  &To_default_layer
&kp D      &kp C  &kp H  &kp E
&kp ESC    &kp L  &kp A  &kp I
            >;
        };

        num_layer_AutoCAD {
            bindings = <
&kp N9  &kp N6  &kp N3  &To_AutoCAD_num
&kp N8  &kp N5  &kp N2  &kp DOT
&kp N7  &kp N4  &kp N1  &kp N0
            >;
        };

        Bluetooth_Setting {
            bindings = <
&bt BT_SEL 2  &bt BT_DISC 2  &out OUT_BLE  &To_default_layer
&bt BT_SEL 1  &bt BT_DISC 1  &out OUT_USB  &none
&bt BT_SEL 0  &bt BT_DISC 0  &none         &sys_reset
            >;
        };

        num_layer {
            bindings = <
&kp N9  &kp N6  &kp N3  &trans
&kp N8  &kp N5  &kp N2  &kp DOT
&kp N7  &kp N4  &kp N1  &kp N0
            >;
        };
    };
};
