/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        AutoCAD_Line: AutoCAD {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp L &kp RET>, <&macro_tap>;

            label = "AUTOCAD";
        };

        AutoCAD_Circle: AutoCAD_Circle {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp C &kp RET>, <&macro_tap>;

            label = "AUTOCAD_CIRCLE";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp LG(LS(S))  &kp C_VOL_UP  &kp K_NEXT  &to 1
&kp LG(X)      &kp C_VOL_DN  &kp C_PP    &kp LG(D)
&kp F11        &kp C_MUTE    &kp K_PREV  &kp LG(A)
            >;
        };

        num_layer {
            bindings = <
&kp N9  &kp N6  &kp N3  &lt 2 ENTER
&kp N8  &kp N5  &kp N2  &kp DOT
&kp N7  &kp N4  &kp N1  &lt 0 N0
            >;
        };

        lower_layer {
            bindings = <
&bt BT_CLR  &none         &sys_reset    &bootloader
&trans      &bt BT_SEL 3  &bt BT_SEL 4  &none
&none       &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2
            >;
        };

        layer_3 {
            bindings = <
&trans           &trans  &trans  &trans
&AutoCAD_Circle  &trans  &trans  &trans
&AutoCAD_Line    &trans  &trans  &trans
            >;
        };
    };
};
