# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_BOARDSOURCE3X4

config ZMK_KEYBOARD_NAME
    default "boardsource3x4"

config ZMK_SPLIT_ROLE_CENTRAL
    default n

config ZMK_SPLIT
    default n

# Set this to the number of peripherals your dongle will have.
# For a unibody, this would be 1. If you have left and right halves, set it to 2, etc.
config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 1

# Set this to ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS + your desired number of BT profiles (default is 5)
config BT_MAX_CONN
    default 3

# Set this to the same number as BT_MAX_CONN
config BT_MAX_PAIRED
    default 3

CONFIG_CLOCK_CONTROL_NRF_K32SRC_RC=y

CONFIG_ZMK_BACKLIGHT=y

config ZMK_SLEEP
    default y
    
config ZMK_IDLE_SLEEP_TIMEOUT
    default 900000
    
config ZMK_EXT_POWER
    default y

config ZMK_BATTERY_REPORTING
    default y

config ZMK_BATTERY_REPORT_INTERVAL
    default 60

if ZMK_DISPLAY

config I2C
    default y

config SSD1306
    default y
    
endif # ZMK_DISPLAY 

config RGBLED_WIDGET_LAYER_BLINK_MS
    default 100

endif



